@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* COLORES */
:root {

    /*Del examen*/
    --violeta-primario: #8B48BF;
    --celeste-primario: #3CDDF3;

    --azul-grisaseo-oscuro: #1E1E26;
    --azul-oscuro: #232851;
    --gris-claro: rgb(249, 249, 249);

    /*Personales*/
    --gris-claro-fondo-gris: #B3B2B7;
    --gris-claro-fondo-blanco: #B9B9C1;
    --gris-claro-fondo-negro: #8C8C94;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    background-color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--azul-oscuro);
}

body {
    display: flex;
    justify-content: center;
}

.base {
    width: 100vw;
}

/* HEADER */

.menu-hamburger,
.p-hidden-web {
    display: none;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 75px 0;
    flex-wrap: wrap;
    margin-inline: 20px;
}

.logo-base {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-base span {
    color: var(--azul-oscuro);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-left: 10px;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 20px;
}

.menu ul li {
    font-size: 13px;
    font-weight: 500;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: var(--azul-oscuro);
}

li:hover {
    opacity: 60%;
}

.button-contact,
.container-best-month button,
.best-year button,
.form-contact button {
    background-color: var(--violeta-primario);
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 13px;
    height: 44px;
    width: 134px;
}

.button-contact:hover,
.container-best-month button:hover,
.best-year button:hover,
.form-contact button:hover {
    opacity: 0.7;
}

header .button-contact,
.best-year button {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* MAIN */

.banner {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 75px 0;
    position: relative;
    flex-wrap: wrap;
}

.banner-left {
    margin-inline: 20px;
}

.banner-left img {
    max-width: 80vw;
}

.banner-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    margin-inline: 20px;
}

.banner-right h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.035em;
    text-align: right;
}

.banner-right p {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.035em;
    line-height: 26px;
    margin: 28px 0;
    text-align: right;
}

.container-top-differences {
    align-items: center;
    background-color: var(--violeta-primario);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-block: 20px;
}

.container-top-differences h3,
.container-top-differences p {
    color: white;
    margin:20px;
    max-width: 450px;
}

.container-top-differences h3 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.035em;
}

.container-top-differences p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.container-botton-differences {
    align-items: center;
    background-color: var(--gris-claro);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.container-botton-differences article {
    display: flex;
    max-width: 545px;
    margin-top: 40px;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px 37px 0 37px;
}

.article-differences-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.article-differences-title p {
    background-color: var(--violeta-primario);
    border-radius: 30px;
    color: white;
    margin-right: 25px;
    padding: 10px 0px;
    text-align: center;
    width: 70px;
}

.article-differences-title h4 {
    font-weight: 700;
    font-size: 16px;
}

.article-differences-description {
    display: flex;
    justify-content: flex-end;
}

.article-differences-description p {
    color: var(--gris-claro-fondo-gris);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 10px 0 0 95px;
    max-width: 450px;
}

.container-best-month {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 100px 0 180px 0;
}

.container-best-month h3 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.035em;
    margin-bottom: 72px;
    text-align: center;
}

.articles-best-month {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 45px;
}

.articles-best-month article {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: 20px;
    max-width: 445px;
    position: relative;
}

.articles-best-month article img {
    position: absolute;
}

.article-top-best-month {
    background-color: white;
    height: 35px;
}

.article-bottom-best-month {
    align-items: center;
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    max-width: 445px;
}

.article-bottom-best-month h4 {
    font-size: 16px;
    font-weight: 700;
    padding-top: 56px;
    text-align: center;
    width: 100%;
}

.article-bottom-best-month p {
    color: var(--gris-claro-fondo-blanco);
    font-size: 16px;
    line-height: 156.6%;
    margin: 20px;
    max-width: 403px;
    text-align: center;
}

.best-year {
    align-items: center;
    background-color: var(--violeta-primario);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 64px 0;
}

.best-year h3 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.005em;
    margin-inline: 20px;
    max-width: 450px;
}

.best-year button {
    background-color: white;
    color: var(--violeta-primario);
    margin: 20px 20px;
}

/* FOOTER */

footer {
    background-color: var(--azul-grisaseo-oscuro);
}

footer a {
    color: white;
}

footer li {
    list-style: none;
}

footer>div {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 54px;
}

.container-logo-socialmedia {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.container-logo-socialmedia .logo-base span {
    color: white;
}

.container-logo-socialmedia .social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 160px;
}

.social-media a:hover {
    opacity: 60%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    max-width: 393px;
}

.links li {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 12px;
}

.links ul:first-of-type a {
    margin-right: 200px;
}

.form-contact {
    margin: 20px;
}

.form-contact input {
    border-radius: 50px;
    border: none;
    height: 44px;
    padding-left: 10px;
    width: 200px;
}

.form-contact input::placeholder {
    color: #A0A0A0;
    font-size: 13px;
    font-weight: 600;
}

.form-contact button {
    margin-left: 10px;
    width: 63px;
}

.copyright {
    align-items: flex-start;
    color: var(--gris-claro-fondo-negro);
    display: flex;
    font-size: 13px;
    font-weight: 500;
    justify-content: flex-end;
    padding: 0 165px 43px 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {

    nav,
    header .button-contact {
        display: none;
    }

    header {
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 50px 60px
    }

    .logo-base {
        margin: 0;
    }

    .menu-hamburger {
        display: flex;
    }

    .menu-hamburger i {
        color: black;
        font-size: 50px;
    }

    .banner {
        flex-direction: column;
        padding: 0 30px 40px 30px;
    }

    .banner-left {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .banner-left img {
        margin-bottom: 100px;
    }

    .banner-right {
        margin: 0;
    }

    .banner-right p {
        margin-left: 20px;
    }

    .container-top-differences {
        align-items: flex-start;
        background-color: var(--celeste-primario);
        flex-direction: column;
        padding: 40px 40px 40px 20px;
    }

    .container-top-differences h3 {
        margin: 0 0 50px 0;
    }

    .container-top-differences p {
        margin: 0;
    }

    .p-hidden-movil {
        display: none;
    }

    .p-hidden-web {
        display: inline;
    }

    .container-botton-differences {
        align-items: flex-end;
        background-color: white;
        flex-direction: column;
        margin: 35px 0 0 0;
        padding: 0;
    }

    .container-botton-differences article {
        align-items: flex-start;
        margin: 30px 0 0 7vw;
        width: 93vw;
    }

    .article-differences-title {
        background-color: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
        width: 100%;
    }

    .article-differences-description p {
        margin: 30px 5vw 0 3vw;
    }

    .container-best-month {
        margin: 68px 0 58px 0;
    }

    .articles-best-month {
        flex-direction: column;
    }

    .articles-best-month article:nth-child(odd) {
        display: none;
    }

    .article-bottom-best-month p {
        max-width: 390px;
    }

    .best-year {
        background-color: var(--celeste-primario);
        flex-direction: column;
        padding: 40px 0;
    }

    .best-year h3 {
        margin-bottom: 50px;
        max-width: 324px;
        text-align: center;
    }

    .best-year button {
        color: white;
        background-color: var(--azul-oscuro);
        margin: 0;
    }

    footer>div {
        flex-direction: column-reverse;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .form-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 53px 0 47px 0;
    }

    .form-contact input {
        width: 60vw;
        min-width: fit-content;
        margin-bottom: 10px;
    }

    .links {
        width: 65vw;
    }

    .links ul:first-of-type a {
        margin: 0;
    }

    .container-logo-socialmedia {
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
    }

    .container-logo-socialmedia .social-media {
        margin: 58px 0 47px 0;
        width: 100vw;
        padding: 0 50px;
    }

    .copyright {
        justify-content: center;
        align-items: center;
        padding: 45px 0 50px 0;
    }

}